.text p{
  display: inline-block;
  text-align: left;
}


h.catch{
    font-size: 25px;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    color: palevioletred;
    font-weight:bold;
   
}

section .inner span {
    opacity: 0;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-animation-name: Drop;
    animation-name: Drop;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#sakura .inner span {
    position: absolute;
    display: block;
    width: 10px;
    height: 15px;
    background: url("img/sakura.png") no-repeat;
}

#sakura .inner span.flake2,
#sakura .inner span.flake4,
#sakura .inner span.flake6,
#sakura .inner span.flake8 {
    background-size: 5px 6px !important;
}

.flake1 {
    left: 22%;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.flake2 {
    left: 24%;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.flake3 {
    left: 26%;
    -webkit-animation-duration: 2.9s;
    animation-duration: 2.9s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.flake4 {
    left: 28%;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.flake5 {
    left: 30%;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.flake6 {
    left: 32%;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.flake7 {
    left: 34%;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.flake8 {
    left: 36%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
@-webkit-keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0.3;
    }
}

@keyframes Drop {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0.3;
    }
}



input.home{
    font-size: 20px;
    color: blue;
    width: 70px;
    height: 40px;
    position: relative;
    left: 400px;
}
label.tell{
    position: relative;
    left: 420px;
}


input.home:hover{
    opacity:0.7;
    filter:alpha(opacity=80);
    -ms-filter: “alpha( opacity=80 )”;
}


div.menu{
    max-width: 85%;
  margin: 0 auto;
}
input.menu1:hover{
    opacity:0.6;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}
input.menu2:hover{
    opacity:0.6;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}
input.menu3:hover{
    opacity:0.6;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}
input.menu4:hover{
    opacity:0.6;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}
input.menu5:hover{
    opacity:0.6;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}

div.news{
    position: relative;
    left: 200px;
    width: 800px;
    height: 150px;
}




div.ggmap {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }

    .ggmap iframe,
    .ggmap object,
    .ggmap embed {
    position: absolute;
    top: 0;
    left: 100px;
    width: 500px;
    height: 500px;
    }

    label.access{
        position: relative;
        top: 10px;
        left: 670px;
    }

    div.flexslider{
        background-color: black;
        display:block;
        width: 100%;
        height: 500px;

    }

    ul.slides{
        text-align: center;



    }
    textarea.toiawase{
        width:700px;
        height:200px;
        overflow:auto;
    }
    div.input_area{
        max-width: 70%;
       margin: 0 auto;
    }