<style type = "text/css">
body,html {
  height: 100%
}

#container {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

#contents {
  padding-bottom: 100px;
}

{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
}
#footer{
  position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
   background-color: #90EE90
   }
</style>
